* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   color: #333;
}

body {
   min-height: 100vh;
   background-color: #eee;
   flex-direction: column;
}

button {
   cursor: pointer;
}

#app {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
}

/* 로딩 */

.loading_wrapper {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
}

.loading_wrapper.hidden {
   display: none;
}

.loading_wrapper img {
   width: 400px;
   height: 500px;
   border: 20px solid #fff;
}

/* 에러 */

.error_section {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
}

.error_section img {
   width: 400px;
   height: 500px;
   border: 20px solid #fff;
}

.error_section p {
   color: #fff;
   font-size: 25px;
   padding: 5px;
}

.error_section button {
   width: 150px;
   height: 35px;
   font-size: 15px;
   color: #fff;
   background: #333;
   border: none;
   border-radius: 10px;
   transition: 0.2s ease-in-out;
}

.error_section button:hover {
   background: #111;
}

/* 상단 타이틀 */

.main_title {
   padding: 50px 0 20px;
}

/* 메인 */

.main {
   border: 1px solid #ccc;
   background-color: #fff;
   border-radius: 5px;
   width: 800px;
   min-height: 600px;
}

/* 루트 영역 */

.route_nav {
   display: flex;
   align-items: center;
   padding-left: 20px;
   height: 50px;
   font-weight: bold;
   border-bottom: 1px solid #ccc;
}

.route_nav span {
   cursor: pointer;
}

.route_nav .route_span:not(:last-child)::after {
   content: ">";
   color: #afafaf;
   padding: 0 10px;
}

/* 앨범 영역 */

.Nodes {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   flex-wrap: wrap;
}

.Node {
   width: 140px;
   min-height: 150px;
   padding: 20px;
   margin: 9px;
   text-align: center;
   display: flex;
   flex-direction: column;
   word-break: keep-all;
   transition: 0.1s ease-in-out;
}

.Node:hover {
   cursor: pointer;
   background: #f2f2f2;
}

.Node:active {
   background: #e2e2e2;
}

.Node span {
   display: inline-block;
   padding-top: 10px;
   font-weight: bold;
}

/* 디테일 모달 */

.detail_modal {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
}

.detail_modal > div {
   padding: 20px;
   width: 500px;
   max-height: 600px;
   background: #fff;
   overflow: auto;
}

.detail_modal > div img {
   width: 100%;
}

.detail_modal.hidden {
   display: none;
}
